# The Battle of Neighborhoods
## Homestyle Japanese Restaurant in New York

### Introduction
    New York city is major of cultural, financial, commercial centers in the world.  The population of New York city is 8 million and it is most density population.  The city has as-you-desired choice of restaurants.  One of my clients ask to open a Japanese restaurant in New York city.  We are going to recommend the best location to open the Japanese restaurant.  This client plans to open a homestyle Japanese restaurant, unlike generic of Sushi restaurants, the homestyle restaurants are relatively reasonable.  It is a niche market analysis that explore existing Japanese restaurants in New York city and what are the current trends.

### Data
    New York city data is obtained from URL  'https://cocl.us/new_york_dataset'. In order to clean the data in dataframe, Pandas and Numpy libraries are imported.  Matlotlib and Folium libraries are used to create maps and plots.  Library Geopy is imported for identifying longitude and latitude for New York City.  Sklearn library will be imported for cluster analysis that facilitates statistic algorithm.
    This dataset is used to analyze which location is the best candidate for the homestyle Japanese restaurant by looking into neighborhoods in borough in New York city.  The target location can be less popular Japanese restaurants in order to avoid high competitions among existing market.

In [5]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Libraries imported.

usage: conda-script.py [-h] [-V] command ...
conda-script.py: error: unrecognized arguments: # uncomment this line if you haven't completed the Foursquare API lab

In [2]:
def get_new_york_data():
    url='https://cocl.us/new_york_dataset'
    resp=requests.get(url).json()
    features=resp['features']
    column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 
    new_york_data = pd.DataFrame(columns=column_names)
    for data in features:
        borough = data['properties']['borough'] 
        neighborhood_name = data['properties']['name']
        neighborhood_latlon = data['geometry']['coordinates']
        neighborhood_lat = neighborhood_latlon[1]
        neighborhood_lon = neighborhood_latlon[0]
        new_york_data = new_york_data.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)
    return new_york_data

In [3]:
ny_data = get_new_york_data()
ny_data.head()

  Borough Neighborhood   Latitude  Longitude
0   Bronx    Wakefield  40.894705 -73.847201
1   Bronx   Co-op City  40.874294 -73.829939
2   Bronx  Eastchester  40.887556 -73.827806
3   Bronx    Fieldston  40.895437 -73.905643
4   Bronx    Riverdale  40.890834 -73.912585

In [4]:
ny_data.shape

(306, 4)